.logincontainer{
    height: 90%;
    margin-top: 20px;

}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;

}
input{
    padding: 10px;
    background-color: rgb(61, 55, 55);
    color: white;
}
#loginclickbtn{
    position: absolute !important;
    top: 67px !important;
    right: -10px;

}
.makeStyles-app-67{
    height: 160px;
}
button{
    border-radius: 5px;
    background-color: gold;
    height: 40px;
    font-size: 16px;
    padding: 2px;
}