.item{
    display: flex;gap:15px;
        width: 90%;height: 40px;background-color: gold;
        color: white;font-size: 16px;align-items: center;
        padding-left: 10px;
        margin: 25px auto;
        border-radius: 5px;
}

.watchlistcontainer{
    overflow-y: scroll;
    background-color: gray;
    height: 60%;
    padding-top: 15px;
    margin-top: 20px;
}
@media (max-width: 500px) {
    .makeStyles-root-38 {
       
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .makeStyles-app-30{
        width: 100%;
    }
    .jss40 {
        width: 329px;
        height: 100%;
        display: flex;
        padding: 0px;
        font-family: monospace;
        flex-direction: column;
    }
    #wid60{
        width: 42% !important;
    }
    #widprice{
        width: max-content !important;
        gap: 10px !important;
    }
    .makeStyles-container-58{
        width: 300px !important;
    }
    .watchlistcontainer{
        width: 300px !important;
        align-self: center;
    }
    #draw{
        width: 380px !important;
    }
    .makeStyles-container-125{
        width: 285px !important;
    }
}