.alltablecontent{
    display: flex; 
    flex-direction: column; 
    gap: 30px; 
    margin-top: 40px;
    color: white;
}
.textfeild{
    width: 100%; border-radius: 10px;
}

#tablereow{
color: black;
background-Color: rgba(241, 207, 11, 0.959);
font-Weight: 700;
 font-Family: Montserrat;
 font-size: 25px;
}
.mainrow{
    padding: 10px;
}
img{
    width: 50px;
}
.rowitem{
    color: white;
}
@media (max-width : 750px) {
    #tablereow{
        font-Weight: 600 !important;
         font-size: 20px !important;
        } 
    
}